body {
    margin: 0;  /* J'enlève la marge de mon body */ 
    padding: 0;
    display: flex;
    justify-content: center; /*justify-content (alignement horizental) ne fonctionnera pas sans display: flex */
    height: 100vh;
    align-items: center; /* align-items (alignement vertical) ne fonctionnera pas sans height */ 
    background-color: #E0FFFF
}


#title {
    color: #5673B8;
    position: absolute;
    top: 12px;
}


#piano {
    height:280px;
    padding:90px 30px 0 30px; /* 90px en haut & 30px à gauche et à droite */
    background-color : gray;
    border-radius: 10px;

}

.keys {
    position: relative;
}

.white-key {
    width: 68px;
    height: 280px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    border: solid #000 2px;
    box-sizing: border-box;
}


.white-keys {
    display: flex;
}


.black-keys {
    position: relative;
    display: flex;
}

.black-key{
    width: 38px;
    height: 160px;
    background-color: black; 
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    position: absolute;
}

.black-key:nth-child(1) {

    left: 48px;
}

.black-key:nth-child(2) {

    left: 117px;
}

.black-key:nth-child(3) {

    left: 253px;
}

.black-key:nth-child(4) {

    left: 48px;
}

.black-key:nth-child(5) {

    left: 320px;
}

.black-key:nth-child(6) {

    left: 525px;
}

.black-key:nth-child(7) {

    left: 594px;
}

.black-key:nth-child(8) {

    left: 662px;
}

.black-key:nth-child(9) {

    left: 797px;
}

.black-key:nth-child(10) {

    left: 865px;
}